body {
    background: url(img/paper.jpg);
    color: rgb(0, 102, 77);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FFFFFF;
}

.spinner-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 26px;
}

.Content {
    bottom: 0;
    left: 138px;
    position: absolute;
    right: 0;
    top: 48px;
}

/* Header & Logo CSS */
.HeaderView {
    background-color: rgba(31, 166, 122, 0.7);
    color: #FFFFFF;
    font-size: 34px;
    height: 48px;
}

.header {
    margin-left: 24px;
}

.logo-text {
    font-family: "Cinzel Decorative", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    margin-left: 18px;
}

/* Navigation CSS */
.NavigationView {
    border-right: 1px solid rgba(31, 166, 122, 0.7);
    bottom: 0;
    position: absolute;
    top: 48px;
    width: 138px;
}

.nav-list {
    list-style: none;
    margin-top: 48px;
    padding: 0;
}

.item-container {
    border-bottom: 1px solid rgba(31, 166, 122, 0.7);
    font-size: 18px;
    height: 30px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-top: 9px;
}

.item-container.active,
.item-container:hover{
    background-color: rgba(31, 166, 122, 0.7);
    color: #FFFFFF;
    cursor: pointer;
}

.item-intro {
    border-top: 1px solid rgba(31, 166, 122, 0.7);
    margin-top: 30px;
}

.nav-icon {
    padding-right: 12px;
}

/* ModalView CSS */
.ModalView {
    background-color: rgb(85, 85, 85);
    border: 1px solid rgba(31, 166, 122, 0.7);
    border-radius: 12px;
    position: absolute;
    top: 48px;
    bottom: 9%;
    left: 9%;
    right: 9%;
    min-width: 680px;
    min-height: 500px;
    overflow: hidden;
}

.modal-header {
    background-color: #FFFFFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: rgba(0, 102, 77, 0.9);
    height: 48px;
    width: 100%;
}

.modal-icon {
    padding-right: 6px;
}

.modal-title {
    font-size: 26px;
    position: absolute;
    left: 12px;
    top: 6px;
}

.modal-close-icon {
    float: right;
    font-size: 30px;
    padding: 9px;
}

.modal-close-icon:hover {
    cursor: pointer;
    color: rgb(85, 85, 85);
}

/* IntroView CSS */
.progress-bar-container {
    border: 1px solid rgb(31, 166, 122);
    height: 36px;
    margin: 50% auto 0 auto;
    width: 300px;
    z-index: 2;
}

.progress-bar {
    width: 5px;
    height: 100%;
    background-color: rgba(31, 166, 122, 0.7);
    transition: 6s ease;
}

.progress-bar.loading {
    width: 100%;
}

.TreeView {
    z-index: 0;
}

.tree-right {
    bottom: 0;
    position: absolute;
    right: 0;
}

.tree-left {
    bottom: 0;
    left: 1px;
    position: absolute;
}

.growing-trees.loading {
    bottom: 100%;
}

.popup {
    background-color: rgba(85, 85, 85, 0.9);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    color: #FFFFFF;
    height: 50%;
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
    width: 40%;
    z-index: 2;
    left: 30%;
    right: 30%;
    top: -65%;
    transition: 1s ease;
}

.popup.after {
    bottom: 25%;
    top: 25%;
}

.intro-icon {
    padding-right: 12px;
}

/* Modal Content CSS */
.section {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    display: inline-block;
    height: 144px;
    margin-top: 24px;
    padding: 12px 0 12px 24px;
    width: 35%;
}

.small {
    height: 100px;
}

.right {
    float: right;
    margin-left: 24px;
    margin-right: 48px;
}

.left {
    margin-left: 48px;
    margin-right: 24px;
}

.section-title {
    font-weight: 600;
}

.section-icon {
    margin-right: 6px;
}

.section-location {
    margin-right: 24px;
}

.section-info,
.section-location {
    color: rgb(0, 102, 77);
}

/* Modal Table CSS */
.table-entries {
    background-color: rgba(254, 254, 254, 0.9);
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    width: 90%;
}

.table-entry {
    height: 24px;
    border-bottom: 1px solid rgb(31, 166, 122);
    padding: 12px;
}

.table-entry:last-child {
    border-bottom: none;
}

.table-entry:hover {
    background-color: rgba(31, 166, 122, 0.7);
    color: #FFFFFF;
}

.table-info {
    float: right;
    margin-right: 24px;
}

/* FoodView & HouseView CSS */
.section-container {
    background-size: cover;
    border: 1px solid rgba(31, 166, 122, 0.7);
    height: 36%;
    position: absolute;
    width: 36%;
}

.container-title {
    background-color: rgba(85, 85, 85, 0.8);
    bottom: 0;
    color: #FFFFFF;
    font-size: 26px;
    height: 48px;
    position: absolute;
    width: 100%;
    transition: 0.2s ease-out;
}

.container-icon {
    margin: 12px 6px 0 6px;
}

.section-container:hover {
    cursor: pointer;
}

.section-container:hover .container-title{
    height: 50%;
}


/* FoodView Specific CSS */
.markets {
    background-image: url(img/markets.jpg);
    top: 48px;
    left: 10%;
    margin-bottom: 4%;
    margin-right: 4%;
}

.bulk-food {
    background-image: url(img/bulk.jpg);
    top: 48px;
    right: 10%;
    margin-bottom: 4%;
}

.recipes {
    background-image: url(img/food.jpg);
    bottom: 10%;
    left: 10%;
    margin-right: 4%;
}

.food-blogs {
    background-image: url(img/blogs.jpg);
    bottom: 10%;
    right: 10%;
}

/* Food Modal Specific CSS */
.MarketView {
    padding: 12px;
}

.section {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    display: inline-block;
    height: 144px;
    margin-top: 24px;
    padding: 12px 0 12px 24px;
    width: 35%;
}

.small {
    height: 100px;
}

.right {
    float: right;
    margin-left: 4%;
    margin-right: 8%;
}

.left {
    margin-left: 8%;
    margin-right: 4%;
}

.section-title {
    font-weight: 600;
}

.section-icon {
    margin-right: 6px;
}

.section-location {
    margin-right: 24px;
}

.section-info,
.section-location {
    color: rgb(0, 102, 77);
}

.RecipesView {
    margin-top: 24px;
}

/* House Specific CSS */
.cleaning {
    background-image: url(img/cleaning.jpg);
    top: 48px;
    left: 10%;
    margin-bottom: 4%;
    margin-right: 4%;
}

.recycling {
    background-image: url(img/recycling.jpg);
    top: 48px;
    right: 10%;
    margin-bottom: 4%;
}

.saving-resources {
    background-image: url(img/saving-resources.jpg);
    bottom: 10%;
    left: 10%;
    margin-right: 4%;
}

.green-energy {
    background-image: url(img/green-energy.jpg);
    bottom: 10%;
    right: 10%;
}

.unavailable {
    color: white;
    font-size: 24px;
    margin-top: 48px;
    text-align: center;
}

.unavailable-icon {
    margin-left: 12px;
    margin-right: 12px; 
}

/* House Modal Specific CSS */
.house-section {
    min-height: 500px;
    width: 100%;
}

.section-iframe {
    border: 0;
    border-top: 1px solid rgba(31, 166, 122, 0.7);
    background-color: #FFFFFF;
    width: 100%;
    min-height: 500px;
    height: 100%;
}

.company-logo {
    background-size: cover;
    background-position: 50% 50%;
    height: 42px;
    margin-right: 12px;
    width: 64px;
}

.ecotricity {
    background-image: url(img/logos/ecotricity.jpg);
}

.good-energy {
    background-image: url(img/logos/good-energy.png);
}

.company-logo.green-energy {
    background-image: url(img/logos/green-energy.png);
}

.woodland {
    background-image: url(img/logos/woodland.jpg);
}

/* VideosView CSS */

.video-intro {
    float: right;
    margin-right: 48px;
    margin-top: 48px;
}

.video-carousel {
    height: 400px;
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
}

.video-single {
    background-color: rgba(85, 85, 85, 0.7);
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 0;
    top: 30px;
    transition: 1s;
}

.video-carousel .video-single.active {
    background-color: rgba(31, 166, 122, 0.7);
    margin-left: 6px;
    margin-right: 6px;
    top: 0;
    transition: 1s;
}

.video-carousel .film_roll_next,
.video-carousel .film_roll_prev {
    background: #FFF;
    border-radius: 0;
    border: 1px solid rgb(31, 166, 122);
    color: rgb(31, 166, 122);
    height: 100px;
    padding-top: 150px;
    top: 35px;
    height: 165px;
    margin-top: 0;
    width: 48px;
}

.video-carousel .film_roll_next:hover,
.video-carousel .film_roll_prev:hover {
    color: rgb(31, 166, 122);
}

.video-carousel .film_roll_next {
    right: 0;
}

.video-carousel .film_roll_prev {
    left: 0;
}

/* GamesView Specific CSS */
.section-container.games {
    height: 60%;
}

.quiz {
    background-image: url(img/quiz.jpg);
    top: 48px;
    left: 10%;
    margin-bottom: 4%;
    margin-right: 4%;
}

.kids-zone {
    background-image: url(img/kids.jpg);
    top: 48px;
    right: 10%;
    margin-bottom: 4%;
}

/* Kids Zone Specific CSS */
.kids-header {
    border-bottom: 1px solid rgba(31, 166, 122, 0.7);
    color: rgba(31, 166, 122, 0.7);
    height: 48px;
    width: 100%;
}

.kids-header h2 {
    display: inline;
}

.header-icon {
    font-size: 20px;
    margin-left: 24px;
    margin-right: 6px;
    margin-top: 18px;
}

.kids-game-content {
    bottom: 48px;
    position: absolute;
    top: 48px;
    width: 100%;
}

.kids-nav {
    border-top: 1px solid rgba(31, 166, 122, 0.7);
    bottom: 0;  
    height: 48px;
    position: absolute;
    width: 100%;
}

.kids-nav-item {
    background-color: #FFFFFF;
    border: 1px solid rgba(31, 166, 122, 0.7);
    color: rgb(31, 166, 122);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 24px;
    margin-left: 3px;
    padding: 6px;
    position: absolute;
    top: -1px;
}

.kids-nav-item.active{
    background-color: rgba(31, 166, 122, 0.7);
    color: #FFFFFF;
}

.catch {
    left: 150px;
}

/* Spot The Difference CSS */
.image-container {
    background-color: #FFFFFF;
    position: absolute;
    left: 1px;
    right: 212px;
    top: 1px;
    bottom: 0;
    height: 538px;
    width: 924px;
}

.score-container {
    border-left: 1px solid rgba(31, 166, 122, 0.7);
    position: absolute;
    padding: 6px;
    bottom: 0;
    right: 0;
    left: 924px;
    top: 0;
    width: 200px;
}

.pic {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    width: 430px;
    top: 96px;
    bottom: 1px;
}

.pic-divider {
    background-color: rgba(31, 166, 122, 0.7);
    height: 100%;
    left: 50%;
    position: absolute;
    width: 1px;
}

.original-title {
    margin-top: -68px;
}

.image-original-1 {
    background-image: url(img/spot/original-1.png);
    left: 24px;
}

.image-false-1 {
    background-image: url(img/spot/false-1.png);
    right: 24px;
}

.image-original-2 {
    background-image: url(img/spot/original-2.png);
    left: 24px;
}

.image-false-2 {
    background-image: url(img/spot/false-2.png);
    right: 24px;
}

.image-original-3 {
    background-image: url(img/spot/original-3.png);
    left: 24px;
}

.image-false-3 {
    background-image: url(img/spot/false-3.png);
    right: 24px;
}

.found {
    font-weight: 600;
}

.button {
    background-color: rgba(31, 166, 122, 0.7);
    border-radius: 12px;
    border: 1px solid rgba(31, 166, 122, 0.7);
    color: #FFFFFF;
    padding: 12px;
    position: absolute;
    text-align: center;
    bottom: 12px;
    right: 12px;
    height: 24px;
    width: 96px;
}

.button:hover {
    background-color: #FFFFFF;
    color: rgb(0, 102, 77);
    cursor: pointer;
}

.score-point {
    background-color: rgba(31, 166, 122, 0.7);
    border-radius: 15px;
    height: 30px;
    position: absolute;
    width: 30px;
}

.winner {
    font-size: x-large;
    height: 32%;
    padding: 12px;
    text-align: center;
    width: 25%;
}

.winner-icon {
    padding-right: 12px;
}

.winner-button {
    font-size: 18px;
}

/* Spot The Difference Game 1 Solution*/
.pic1.diff1 {
    right: 223px;
    top: 143px;
    opacity: 0;
}

.pic1.diff2 {
    bottom: 93px;
    right: 0;
    opacity: 0;
}

.pic1.diff3 {
    right: 267px;
    bottom: 78px;
    opacity: 0;
}

.pic1.diff4 {
    bottom: 236px;
    right: 70px;
    opacity: 0;
}

.pic1.diff5 {
    bottom: 169px;
    right: 286px;
    opacity: 0;
}

/* Spot The Difference Game 2 Solution */
.pic2.diff1 {
    right: 48px;
    top: 110px;
    opacity: 0;
}

.pic2.diff2 {
    bottom: 203px;
    right: 103px;
    opacity: 0;
}

.pic2.diff3 {
    right: 221px;
    bottom: 68px;
    opacity: 0;
}

.pic2.diff4 {
    top: 75px;
    right: 169px;
    opacity: 0;
}

.pic2.diff5 {
    top: 135px;
    right: 386px;
    opacity: 0;
}

/* Spot The Difference Game 3 Solution */
.pic3.diff1 {
    right: 205px;
    top: 9px;
    opacity: 0;
}

.pic3.diff2 {
    bottom: 152px;
    right: 66px;
    opacity: 0;
}

.pic3.diff3 {
    right: 221px;
    bottom: 101px;
    opacity: 0;
}

.pic3.diff4 {
    top: 73px;
    right: 232px;
    opacity: 0;
}

.pic3.diff5 {
    top: 52px;
    right: 271px;
    opacity: 0;
}

/* Catch The Squirrel Game CSS */
.start-game-desc {
    font-size: 18px;
    position: absolute;
    left: 12px;
    top: 12px;
    right: 12px;
}

.rolling-bg {
    background-image: url(img/catch/landscape.png);
    width: 100%;
    height: 100%;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: cover;
}

@keyframes moveBG {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
@-webkit-keyframes moveBG {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
@-moz-keyframes moveBG {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.squirrel-number {
    margin-top: 12px;
}

.squirrel.static {
    display: inline-block;
    height: 40px;
    margin-right: 6px;
    margin-left: 12px;
    margin-top: 12px;
    position: relative;
    width: 30px;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0.5;
}

.inactive:hover {
    opacity: 1;
    cursor: pointer;
}

.squirrel {
    background-image: url(img/catch/squirrel.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.restart {
    bottom: 69px;
}

/* QuizView CSS */
.question-container {
    font-size: 18px;
    min-height: 454px;
    position: absolute;
    width: 50%;
}

.score-container {
    font-size: 18px;
    left: 925px;
    position: absolute;
}

.score, 
.meter-container {
    margin-top: 48px;
    margin-left: 24px;
}

.quiz-header {
    font-weight: 600;
}

.q-count {
    margin-left: 30px;
    margin-top: 54px;
}

.count,
.current-score {
    font-weight: 600;
}

.box {
    border: 1px solid rgba(31, 166, 122, 0.7);
    font-size: 24px;
    height: 80px;
    margin-left: 24px;
    margin-top: -6px;
    padding: 6px;
}

.box.answer {
    position: relative;
    top: 102px;
}

.q-answer {
    bottom: 164px;
    margin-left: 30px;
    position: absolute;
}

.button-container {
    bottom: 192px;
    position: absolute;
    right: -12px;
    width: 200px;
}

.true.button {
    right: 148px;
}

.continue-button {
    right: 0;
}

.selected {
    background-color: #FFFFFF;
    color: rgb(0, 102, 77);
}

.disabled,
.disabled:hover {
    opacity: 0.5;
    background-color: rgba(31, 166, 122, 0.7);
    color: #FFFFFF;
    cursor: default;
}

.meter {
    border: 1px solid rgba(31, 166, 122, 0.7);
    height: 36px;
    margin-top: 6px;
    min-width: 300px;
    width: 100%;
}

.inside-meter {
    background-color: rgba(31, 166, 122, 0.7);
    height: 100%;
    width: 0;
    transition: 1s;
}

.quiz-score-container {
    font-size: 18px;
    left: 60%;
    top: 48px;
    position: absolute;
}